# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/
bower_components

# Cache
.cache
.parcel-cache
.next
out
build
dist

# VSCode
.vscode-test
.DS_Store

# ESLint/Stylelint
.eslintcache
.stylelintcache

# Misc
*.tgz
*.tsbuildinfo
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.pnp
.env
.env.*
.vercel
next-env.d.ts